@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #2f3136;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header/Navbar */
.main-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  min-height: 20vh;
  padding: 2rem;
  position: relative;
}

.main-header p {
  font-size: 3rem;
}

/* Main Section */
.main-section {
  position: relative;
  min-height: 80vh;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.hero h1 {
  font-weight: 700;
  font-size: 5rem;
}

.hero p {
  font-weight: 100;
  font-size: 1rem;
}

.section-inner {
  display: flex;
}

.fileSearch {
  display: flex;
  flex-direction: column;
}

.searchForm {
  display: flex;
  margin: 0 auto;
  min-width: 40vw;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding: 0.5rem 0.5rem;
  background-color: #202225;
  animation: fadeInUp 0.5s ease-in-out;
}
.searchForm:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchForm:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchBar {
  border: none;
  width: 35vw;
  height: 2vh;
  font-size: 1rem;
  outline: none;
}

.searchForm input,
button {
  font-size: 24px;
  border: none;
  background: #202225;
  color: #fff;
  padding: 1rem;
}

.filePicker {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background-color: #36393f;
  animation: fadeInUp 0.5s ease-in-out;
}

.filePicker i,
input,
p {
  margin: 0.8rem;
}

.filePicker input {
  transform: translateX(10%);
  cursor: pointer;
}

.searchResults {
  text-transform: lowercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #36393f;
  animation: fadeInUp 0.5s ease-in-out;
}

.searchResult {
  position: relative;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchResult p {
  font-weight: 200;
  color: rgb(135, 133, 133);
}

.searchResult div {
  margin-right: 1rem;
}

/* Menu item bottom border */
.searchResult::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.searchResult:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

.recentSearch {
  padding-left: 5rem;
}

.recentSearch .dropdown {
  border: 2px solid #dcdcdc;
  border-radius: 15px;
}

/* Alert window */
.alert {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Animations  */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
